[data-map]
  position: relative
  z-index: 200

.jqvmap-label
  z-index: 201
  position: absolute
  display: none
  border-radius: 3px
  background: #333
  color: white
  font-size: smaller
  padding: 4px
  max-width: 400px

  h1, h2, h3, h4, h5, h6
    color: white
    margin: 8px 0
