extends _layout
block append head
  script(type='text/javascript', src='../jqvmap.min.js')
  link(type="text/css" rel='stylesheet', href='../jqvmap.css', media='screen')
block append body
  p This script depends on several scripts:
  ul
    li
      a(href='http://jquery.com') jQuery;
    li
      a(href='http://github.com/inca/bigfoot') bigfoot;
  p Make sure they are insalled at your app.

  pre
    code
      | &lt;div data-map='russia_ru' data-selected-regions='ky,cr,ka'></div>
      | &lt;div id='ky'>Курская область – ЦФО&lt;/div>
  p Описание для выделенных регионов можно давать, используя элемент с идентификтором этой области.
  div(data-map='russia_ru' data-selected-regions='ky,cr,ka')
  #ky
    p Курская область – ЦФО
  #cr Республика Крым
  #ka Камчатский Край
